<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.randy.note.association.manytomany.UserMapper">

    <!--  语句查出的表结果如下：  -->
    <select id="query" parameterType="int" resultMap="userResultMap">
        select user.*,
               `order`.id as oid,
               `order`.code,
               `order`.user_id,
               product.id as pid,
               product.name as product_name,
               product.price,
               product.order_id as order_id
        from user
                 left join `order` on user.id = `order`.user_id
                 left join product on `order`.id = product.order_id
        where user.id = #{id}
    </select>

    <!--  把 order 表中的两个结果放入User类的orderList中  -->
    <resultMap id="userResultMap" type="com.randy.note.association.manytomany.User" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="orderList" ofType="com.randy.note.association.manytomany.Order" autoMapping="true">
            <id property="id" column="oid"/>
            <result property="userId" column="user_id"/>
            <collection property="productList" ofType="com.randy.note.association.manytomany.Product" autoMapping="true">
                <id property="id" column="pid"/>
                <result property="name" column="product_name"/>
                <result property="orderId" column="order_id"/>
            </collection>
        </collection>
    </resultMap>
</mapper>