<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>

    </typeAliases>

    <!-- 在 Spring 中使用 MapperScannerConfigurer 配置 -->
    <mappers>
        <!--<package name="com.randy.note.ssm.dao"/>-->
        <!--<mapper class="com.randy.note.ssm.dao.UserDao"/>-->
        <!--<mapper resource="com/randy/note/ssm/dao/UserDao.xml"/>-->
    </mappers>
</configuration>